.header {
    text-align: center;
    margin-top: 40px;
}

.header, .home-container, a {
    color: #ffffff;
}

.home-container {
    width: 100%;
    max-width: 1120px;
    height: 60vh;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container section {
    width: 100%;
    max-width: 450px;
    margin-top: 0;
}

.home-container p {
   padding: 16px;
}

.home-container section a {
    padding: 16px;
 }

.home-container img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
}